[Unit]
Description=Initializes Astral desktop defaults with Chezmoi
ConditionPathExists=!%h/.config/astral/chezmoi/applied

[Service]
Type=oneshot
ExecStart=/usr/libexec/astral/chezmoi-init

[Install]
WantedBy=graphical-session-pre.target
