[Unit]
Description=Initializes Chezmoi if directory is missing
ConditionPathExists=!%h/.config/astral/chezmoi

[Service]
ExecStart=mkdir -p %h/.config/astral/chezmoi
ExecStart=touch %h/.config/astral/chezmoi/chezmoi.toml
ExecStart=chezmoi apply -S /usr/share/astral/dotfiles --config %h/.config/astral/chezmoi/chezmoi.toml
Type=oneshot

[Install]
WantedBy=graphical-session-pre.target
